// General
$bg-custom-dark: #9847ff;
$bg-custom-light: #fff;
$bg-custom-green: #14ae5c;


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navs
$nav-link-font-weight:              300;

// Navbar
$navbar-light-color:                #2f2f2f;
$navbar-light-hover-color:          #ca31c0;
$navbar-light-active-color:         #ca31c0;
